*~
.desktop-i18n
ABOUT-NLS
Makefile
Makefile.in
TAGS
tags
aclocal.m4
autom4te.cache
config.h
config.h.in
config.status
config.log
configure
libtool
tmpwrk*/
stamp-git
stamp-h1
version.h
INSTALL
po/Makefile.in
po/Makefile
po/*.mo
